/[if lt IE 9]
  -# HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  -# %script{src: "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
  = javascript_include_tag  "html5shiv"

  -# WARNING: Respond.js doesn't work if you view the page via file://
  -# %script{src: "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"}
  = javascript_include_tag  "respond"

  -# Add only one file with "html5shiv" and "respond"
  -#= javascript_include_tag  "oldie"
