<%-# https://documentation.unbounce.com/hc/en-us/articles/360022016431-Adding-a-Custom-Facebook-Like-or-Share-Button#:~:text=Head%20on%20over%20to%20Facebook,appear%20with%20two%20different%20scripts.%>
<%-# https://developers.facebook.com/docs/plugins/like-button%>
<script>function fbs_click() {u=location.href;t=document.title;window.open('http://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}</script>

<a class="button mx-4" href="https://www.facebook.com/sharer/sharer.php?u=<%= permalink %>" onclick="return fbs_click()" target="_blank" title="Haz click para compartir este artículo en Facebook">
	<%= partial "icons/brands/facebook.svg" %>
	Compartir en Facebook
</a>

