<%-# https://documentation.unbounce.com/hc/en-us/articles/360022012931-Adding-Custom-Twitter- %>
<%-# https://developer.twitter.com/en/docs/twitter-for-websites/tweet-button/overview %>

<a class="button mx-4" href="https://twitter.com/intent/tweet?text=Dale una mirada a esto <%= permalink %>" target="_blank" title="Haz click para compartir este artículo en Twitter">
	<%= partial "icons/brands/twitter.svg" %>
	Compartir en Twitter
</a>
