---
layout: false
---

<div class="bloc with-background dark" style="--image: url();">
  <h2 style="margin-bottom: 20px">Bienvenido a tu tienda</h2>
  <p>Aquí es donde destacas tu línea de productos con una buena imagen, en alta resolución. El link puede llevar a cualquier lugar de tu tienda.</p>
  <a href="#" class="button secondary">Leer mas</a>
</div>
