---
layout: false
---

<div class="dropdown-panel large">
  <div class="container section slim">
    <div class="three columns">

      <div class="column panel">
        <div class="bloc dark text-center" style="--image: url(https://r.btcdn.co/2946/original/415992-slider-1.jpg);">
          <h2>Sillas</h2>
        </div>
        <ul class="menu">
          <% 6.times do %>
            <li class="menu-item">
              <a class="menu-link" href="#">
                <%= lorem.words 2 %>
                <i class="icon-arrow-right right">&nbsp;</i>
              </a>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="column panel">
        <div class="bloc dark text-center" style="--image: url(https://r.btcdn.co/2946/original/415994-slider-3.jpg);">
          <h2>Lamparas</h2>
        </div>
        <ul class="menu">
          <% 6.times do %>
            <li class="menu-item">
              <a class="menu-link" href="#">
                <%= lorem.words 2 %>
                <i class="icon-arrow-right right">&nbsp;</i>
              </a>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="column panel">
        <div class="bloc dark text-center" style="--image: url(https://r.btcdn.co/2946/original/415993-slider-2.jpg);">
          <h2>Bancos</h2>
        </div>
        <ul class="menu">
          <% 6.times do %>
            <li class="menu-item">
              <a class="menu-link" href="#">
                <%= lorem.words 2 %>
                <i class="icon-arrow-right right">&nbsp;</i>
              </a>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>