---
layout: false
---

<div class="dropdown-panel">
  <div class="stack align-items-stretch">

    <div class="panel">
      <ul class="menu">
        <% 6.times do %>
          <li class="menu-item">
            <a class="menu-link" href="#">
              <%= lorem.words 2 %>
              <i class="icon-arrow-right right">&nbsp;</i>
            </a>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="panel">
      <img src="https://r.btcdn.co/2946/original/499348-cat-bancos.jpg" "="" alt="cat-bancos.jpg" width="100" height="100">
    </div>

  </div>
</div>