<div id="cart" class="modal on-right">
	<a class="close-button js-close-modal" href="#cart" title="Close"><span class="sr-only">Cerrar</span></a>
	<h2 class="modal-header">Carro de compras</h2>
	<div class="modal-body">
		<%= partial "partials/collection/cart" %>
	</div>
</div>
