<form class="form-inline" action="/register" method="post">
  <div class="form-control w-70">
    <input class="input" id="bootic-register-email" placeholder="Ingresa tu correo electrónico" type="email" name="form[email]" required="">
  </div>
  <div class="form-control w-30">
    <button class="button solid primary block" type="submit">Inscribirme</button>
  </div>
</form>