<div id="product-inquiries">
	<p><strong>¿Tienes dudas o consultas?</strong></p>
	<ul class="list-with-icons">
		<li>
			<%= partial  "icons/whatsapp.svg" %>
			<div class="text-secondary" style="line-height: 1;"><small>Escribenos por WhatsApp</small></div>
			<div>+56 9 6577 1233</div>
			<div class="text-secondary"><small></small></div>
		</li>
		<li>
			<%= partial  "icons/email.svg" %>
			<div class="text-secondary" style="line-height: 1;"><small>Mandanos un mail</small></div>
			<div>contacto@tutienda.com</div>
		</li>
	</ul>
</div>
