<div>
  <h3><%= data.text.titles.categories %></h3>

  <a class="toggle-open-element button secondary small visible-phone" href="#category-list" onclick="toggleClass('#category-list', 'visible'); return false">Ver categorías</a>

  <ul id="category-list">
    <% data.text.categories.items.each do |item| %>
      <li>
        <a href="<%= item.url %>">— <%= item.title %></a>
      </li>
    <% end %>

    <%# {% if menus.categories %} %>
      <%# {% for item in menus.categories.links %}
      <li class="{% if item.linkable == resource %} current {% endif %}">
        <a href="{{ item.url }}">{{ item.title }}</a>
      </li>
      <%# {% endfor %} %>
    <%# {% elsif collection %} %>
      <%# {% for tipo in collection.product_types %}
      <li class="{% if type == tipo %} current {% endif %}">
        <a href="{{ tipo.url }}">{{ tipo.name }}</a>
      </li>
      <%# {% endfor %} %>
    <%# {% else %} %>
      <%# {% for tipo in product_types %}
      <li class="{% if type == tipo %} current {% endif %}">
        <a href="{{ tipo.url }}">{{ tipo.name }}</a>
      </li>
      <%# {% endfor %} %>
    <%# {% endif %} %>
  </ul>

</div>
