<a class="panel-header js-toggle-open-element" href="#product-details">Descripción</a>

<div id="product-details" class="expandible">
	<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
</div>
