<a class="panel-header toggle-open-element" href="#product-attributes">Atributos</a>

<div id="product-attributes" class="expandible">
    <div class="simple-table">
        <div class="row">
            <div class="title cell">Marca</div>
            <div class="value cell">Casa Bonita</div>
        </div>
        <div class="row">
            <div class="title cell">Modelo</div>
            <div class="value cell">HD2011 WHITE</div>
        </div>
        <div class="row">
            <div class="title cell">Ancho</div>
            <div class="value cell">14.5 cm</div>
        </div>
        <div class="row">
            <div class="title cell">Alto</div>
            <div class="value cell">28 cm</div>
        </div>
        <div class="row">
            <div class="title cell">Largo</div>
            <div class="value cell">14.5 cm</div>
        </div>
        <div class="row">
            <div class="title cell">Dimensiones</div>
            <div class="value cell">14,5 cm x 28 cm x 14,5 cm</div>
        </div>
        <div class="row">
            <div class="title cell">Material</div>
            <div class="value cell">Metal</div>
        </div>
        <div class="row">
            <div class="title cell">Garantía</div>
            <div class="value cell">3 meses</div>
        </div>
        <div class="row">
            <div class="title cell">Incluye ampolleta</div>
            <div class="value cell">No</div>
        </div>
        <div class="row">
            <div class="title cell">Rosca</div>
            <div class="value cell">E27</div>
        </div>
        <div class="row">
            <div class="title cell">Tipo</div>
            <div class="value cell">Eléctrico</div>
        </div>
        <div class="row">
            <div class="title cell">Cantidad de ampolletas&nbsp;-&nbsp;tubos</div>
            <div class="value cell">1 unidad(es)</div>
        </div>
        <div class="row">
            <div class="title cell">Led</div>
            <div class="value cell">No</div>
        </div>
        <div class="row">
            <div class="title cell">Potencia</div>
            <div class="value cell">50 W</div>
        </div>
        <div class="row">
            <div class="title cell">Color</div>
            <div class="value cell">Gris</div>
        </div>
    </div>
</div>
