<div class="product-info">

  <%= partial  "partials/component/product_heading" %>
  <%= partial  "partials/component/product_details_simple" %>
  <%= partial  "partials/component/variants" %>
  <%= partial  "partials/component/add_to_cart" %>

</div><!-- /product-info -->