<div id="product-delivery">
	<p><strong>Opciones de entrega</strong></p>
	<ul class="list-with-icons">
		<li>
			<%= partial  "partials/icon/delivery-location.svg" %>
			<div class="available"><small>Disponible</small></div>
			<div>Despacho a domicilio</div>
		</li>
		<li>
			<%= partial  "partials/icon/delivery-pickup.svg" %>
			<div class="available"><small>Disponible</small></div>
			<div>Retiro en tienda</div>
		</li>
		<li>
			<%= partial  "partials/icon/delivery-store.svg" %>
			<div class="unavailable"><small>No disponible</small></div>
			<div>Producto en tienda</div>
		</li>
	</ul>
</div>
