<div class="form-group">
	<ul class="variants">
		<li class="variant-item available">
			<input type="radio" name="cart_item[variant_id]" value="454678" data-price="$45.000" data-price-comparison="" class="variant-input" id="cart_item_variant_id_454678" checked="checked">
			<label for="cart_item_variant_id_454678">
				<span class="variant-name">Cobre</span>
				<span class="units-in-stock low-stock">Pocas unidades</span>
			</label>
		</li>
		<li class="variant-item available2">
			<input type="radio" name="cart_item[variant_id]" value="453124" data-price="$45.000" data-price-comparison="" class="variant-input" id="cart_item_variant_id_453124">
			<label for="cart_item_variant_id_453124">
				<span class="variant-name">Grafito</span>
				<span class="units-in-stock low-stock">Pocas unidades</span>
			</label>
		</li>
	</ul>
</div>

<div class="form-group">
	<select class="select w-auto" name="name">
	  <option value="">Selecciona el tamaño</option>
	  <option value="6">UK 6</option>
	  <option value="7">UK 7</option>
	  <option value="8">UK 8</option>
	  <option value="9">UK 9</option>
	  <option value="10">UK 10</option>
	  <option value="11">UK 11</option>
	  <option value="12">UK 12</option>
	</select>
</div>

<div class="form-group">
	<div class="button-group-toggle" data-toggle="buttons">
	  <label class="btn button button-secondary small active">
	    <input type="radio" name="options" checked> XS
	  </label>
	  <label class="btn button button-secondary small">
	    <input type="radio" name="options"> S
	  </label>
	  <label class="btn button button-secondary small">
	    <input type="radio" name="options"> M
	  </label>
	  <label class="btn button button-secondary small">
	    <input type="radio" name="options"> L
	  </label>
	  <label class="btn button button-secondary small disabled">
	    <input type="radio" name="options" disabled> XL
	  </label>
	</div>
</div>
