<!DOCTYPE html>
<html lang="es" >

  <head>
    <meta charset="utf-8">

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>Title</title>
    <meta name="description" content="This is meta description Sample. We can add up to 158.">
    <link rel="canonical" href="http://example.com/" />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="TITLE OF YOUR POST OR PAGE" />
    <meta property="og:description" content="DESCRIPTION OF PAGE CONTENT" />
    <meta property="og:image" content="LINK TO THE IMAGE FILE" />
    <meta property="og:url" content="PERMALINK" />
    <meta property="og:site_name" content="SITE NAME" />

    <meta name="twitter:title" content="TITLE OF POST OR PAGE">
    <meta name="twitter:description" content="DESCRIPTION OF PAGE CONTENT">
    <meta name="twitter:image" content="LINK TO IMAGE">
    <meta name="twitter:site" content="@USERNAME">
    <meta name="twitter:creator" content="@USERNAME">

    <link rel="stylesheet" href="css/application.css">

  </head>
  <body>

    <!-- body content here -->

    <script src="javascript/vendor/jquery.js"></script>
    <script src="javascript/application.js"></script>

  </body>
</html>
