<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Prey</title>

    <!-- If you are using the CSS version, only link this file, you may add application.css to use for your overrides if you like -->
    <link rel="stylesheet" href="css/prey.css">

    <!-- If you are using the gem version, you need this only -->
    <link rel="stylesheet" href="css/application.css">

    <!--[if lt IE 9]>
      <!- HTML5 Shim and Respond.js give IE8 support of HTML5 elements and media queries ->
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="javascript/vendor/html5shiv.js"></script>

      <!- WARNING: Respond.js doesn't work if you view the page via file:// ->
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <script src="javascript/vendor/respond.js"></script>
    <![endif]-->

    <script src="javascript/vendor/modernizr.js"></script>

  </head>
  <body>

    <!-- body content here -->

    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->
    <script src="javascript/vendor/jquery.js"></script>

    <script src="javascript/prey.min.js"></script>

  </body>
</html>
