<section class="section slim blocks">
  <div class="container fluid">
    <div class="columns">

      <div class="column w-50">
        <%= partial "partials/component/block_content", :locals => { :background => "url(https://r.btcdn.co/2946/original/415993-slider-2.jpg)" } %>
      </div>

      <div class="column w-50">
        <%= partial "partials/component/block_content", :locals => { :background => "url(https://r.btcdn.co/2946/original/415992-slider-1.jpg)" } %>
      </div>

    </div>
  </div>
</section>
