<section class="section slim subscribe-section">

  <div class="container fluid">
    <div class="bloc dark bg-dark">

        <div class="columns">

          <div class="column w-100">
            <h3 class="section-title type-display1">Suscríbete a nuestro newsletter</h3>
            <%= partial "partials/component/form_subscription" %>
          </div>

        </div>

    </div>
  </div>

</section>
