<section class="section">
  <div class="container">
    <div class="columns text-center">

      <div id="shipping" class="column width-one-third">
        <img style="margin-bottom: 1rem;" src="/assets/images/shipping.svg" alt="" />
        <p class="type-headline">Envío</p>
        <p class="text-secondary">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
      </div>

      <div id="payment-methods" class="column width-one-third">
        <img style="margin-bottom: 1rem;" src="/assets/images/payment.svg" alt="" />
        <p class="type-headline">Medios de pago</p>
        <p class="text-secondary">Aceptamos las siguientes formas de pago:<br/><strong>Transferencia bancaria, Servipag, Webpay Plus</strong></p>
      </div>

      <div id="returns" class="column width-one-third">
        <img style="margin-bottom: 1rem;" src="/assets/images/returns.svg" alt="" />
        <p class="type-headline">Devoluciones</p>
        <p class="text-secondary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </p>
      </div>

    </div>
  </div>
</section>
