%meta{ name: "description", content: "#{data.config.description}" }
%meta{ name: "keywords",    content: "#{data.config.keywords}" }
%meta{ name: "author",      content: "#{data.config.author}" }

-# SEO: If mobile URL is different from desktop URL, add a canonical link to the desktop page
-# %link{ rel: "canonical", href: "http://www.domain-name.com/" }
