- # SOCIAL
%meta{ property: "og:site_name",   content: "VADB" }
%meta{ property: "og:url",         content: "http://www.vadb.com/" }
%meta{ property: "og:title",       content: "VADB - Visual Arts DataBase" }
%meta{ property: "og:description", content: "VADB is a new tool to explore..." }
%meta{ property: "og:image",       content: "http://www.vadb.com/images/social/card.png" }
%meta{ property: "og:type",        content: "website" }

%meta{ name: "twitter:card",       content: "photo" }
%meta{ name: "twitter:site",       content: "@vadb" }
%meta{ name: "twitter:creator",    content: "@vadb" }
%meta{ name: "twitter:title",      content: "VADB - Visual Arts DataBase" }
%meta{ name: "twitter:image:src",  content: "http://www.vadb.com/images/social/card.png" }
%meta{ name: "twitter:domain",     content: "http://www.vadb.com/" }
